:root {
  touch-action: pan-x pan-y;
}

body {
  margin: 0;
  padding: 0;
}
.gifImage {
  height: 100%;
  width: 100%;
}
.HeaderContentsContainer {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: aqua;
}

.gamePageContainer {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: aqua;
}
.gamePageTopContainer {
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin-bottom: 5vh;
}
.gameHeading {
  font-size: 5vw;
  margin-bottom: 1em;
  font-family: "roboto";
  font-weight: bold;
}

.bestScore {
  font-size: 3vw;
  margin-bottom: 3%;
  font-family: "roboto";
  font-weight: bold;
}

.startButton {
  cursor: pointer;
  padding-bottom: 0.28rem;
  width: 15%;
  height: 6%;
  color: white;
  border-radius: 0.5em;
  border: 0px;
  font-size: 2vw;
  font-weight: bold;
  background-color: blue;
}

.backButton {
  cursor: pointer;
  padding: 1vw;
  color: white;
  background-color: blue;
  border-radius: 10px;
  border-width: 0;
  font-size: 2vw;
  font-weight: bold;
}

.gameContainers {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px 10px;
}

.imgDiv {
  border: 1px solid black;
  height: 10vh;
  width: 16vw;
  margin: 5px;
}

.scoreDisplayHeading {
  margin-top: 1%;
  font-size: 2vw;
  display: flex;
}

.hideGame {
  display: none;
}

.gameOver {
  height: 100vh;
  background-color: aqua;
}

.playAgain {
  cursor: pointer;
  width: 20vw;
  height: 7vh;
  color: white;
  background-color: blue;
  border-radius: 0.5rem;
  border: 0;
  font-size: 2vw;
  font-family: "roboto";
  font-size: 2.5vw;
  padding-bottom: 0.8rem;
}

.scoreDisplayAfterGameOver {
  margin-bottom: 8%;
  font-size: 3vw;
  margin-bottom: 3%;
  font-family: "roboto";
  font-weight: bold;
}
